<div class="container py-3">
    <ng-container *ngIf="product; else elseTemplate">
        <div class="row" >
            <div class="col-3 p-0">
                    <img [src]="product.PrdimgURL" height="300" alt="">
            </div>
            <div class="col"></div>
            <div class="col-8 border rounded-2">
                <h2 class="text-decoration-underline">{{product.name}}</h2>
                <div class="d-flex justify-content-between w-25">
    
                    <span class="fw-bold text-secondary pb-3">Price: <span class="text-decoration-underline">{{product.price}}</span></span>
                    <span class="fw-bold text-secondary pb-3 ps-3">Quantity: <span class="text-decoration-underline">{{product.quantity}}</span></span>
                </div>
                <p class=" fst-italic">{{product.description}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
            <button type="button" class="me-4 btn btn-secondary" [disabled]="disablePrevBtn" (click)="prevPRD()">Previous product</button>
            <button type="button" class="btn btn-secondary" [disabled]="disableNextBtn" (click)="nextPRD()">Next product</button>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="alert alert-danger text-center" role="alert">
            There is no data for this id
        </div>
    </ng-template>
    


</div>